*{
    margin: 0px;
    padding: 0px;
}
.bar{
    display: none;
}
#hidden{
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
}